
.languageSwitcher {
 
  flex: 0;
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 3px 10px 6px;
  list-style: none;
  font-family: 'Social', sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

a.languageSwitcher:hover {
  background-color: #000;
  color: #8cffb4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #8cffb4;
  height: 68px;
}
.logoContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  max-width: 1200px;
  flex: 1;

}

.header a {
  text-decoration: none;
  color: #000;
}

p.wordlogo  {
  font-family: "Impact", Helvetica, sans-serif;
  font-weight: normal;
  color: #000;
  font-size:48px;
  line-height: 1.125;
  text-align: left;
  display: block;
  margin: 0;
}

.header .cerial {
  font-family: 'Cerial', sans-serif;
  font-size: 56px;
}

p.wordlogo a {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
 .header .wordlogo {
    font-size:33.16px;
    line-height: 37px;
}
.header .cerial {
  font-size: 38.5px;
  line-height: 37px;
}
}

