.generated {
  flex: 1 1 auto;
  padding: 20px;
}
.genimage {
  width: 100%;
  height: auto;
  max-width: 500px;
}

.status {
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;  
  text-align: left;
  margin-top: 18px;
  margin-left: 30px;
  line-height:1.25;
  font-size: 18px;
  padding: 20px;
}
