:root {
  --my-accent-color: #8cffb4;
}

body {
  margin: 0;
  background: #8cffb4;
}



header {
  color: var(--my-accent-color);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

