@font-face {
  font-family: "Social";
  src: url(/fonts/ABCSocial-Regular.woff2) format("woff2"),
    url(/fonts/ABCSocial-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Social";
  src: url(/fonts/ABCSocial-Bold.woff2) format("woff2"),
    url(/fonts/ABCSocial-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Social";
  src: url(/fonts/ABCSocial-RegularItalic.woff2) format("woff2"),
    url(/fonts/ABCSocial-RegularItalic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Impact";
  src: url(/fonts/ImpactNieuw-2012.woff2) format("woff2"),
    url(/fonts/ImpactNieuw-2012.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}


.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "Social", Helvetica, sans-serif;
  background-color: #faf6ed;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
    padding: 20px 20px 0;
}


.main .icon {
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-family: "Impact", Helvetica, sans-serif;
  font-weight: normal;
  color: #202123;
  margin: 16px 0 40px;
  margin-bottom: 12px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #000;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #000;
  background-color: #faf6ed;
  border: 1px solid #000;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.main input[type="submit"]:hover {
  color: #faf6ed;
  background-color: #000;
}
.main .result {
  font-weight: normal;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 720px;

}

.question {
  max-width: 720px;
}
.caption {
  margin-top: 4px;
}
.image {
  max-width: 100%;
}