.main,
.input_main {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: "Consolas", Helvetica, sans-serif;

}
.main {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  text-align: left;
  padding-top: 0px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 0px;
  background-image: url('/dark_calypso.png');
  /*background: #a3c9dd;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}
.main .icon {
  width: 15vw;
  border-radius: 50%;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #000000;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
}

.main input[type="text"] {
  padding: 12px 16px;
  width: 20vw;
  border: 1px solid #10a37f;
  border-radius: 20px;
  margin-bottom: 0px;
  outline-color: #10a37f;
  transition: width 0.3s ease-in-out; /* agregar transición de ancho */
}

.main input[type="text"]:focus {
  width: 45vw; /* aumentar el ancho del input */
}

.main ::placeholder {
  color: #6b6b6b;
  opacity: 1;
}

.contenedor{
  display: grid;
  justify-content: center;
  align-items: center;

}

.gen_res{
  color: aliceblue;
  text-align: center;
  width: fit-content;  
  margin: 10px;
  padding: 10px;
  background-color: rgb(11,52,84);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.result {
  background-color: rgb(255, 255, 255);
  color: aliceblue;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  font-size: 18px;
  height: fit-content;
  line-height: 20px;
  margin-top: 10px;
  max-width: 300px;
  min-height: 25px;
  padding: 25px;
  width: 100%;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vw;
  height: 5vh;
  border-radius: 20px;
}


.btn_reset{
  padding: 12px;
  margin: 50px;
  color: #fff;
  background-color: rgb(11,52,84);
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  
}

